/* 
VARIABLES 
*/
:root {
  /* Colors */
  --color-accent: #407d8c;
  --color-input-placeholders: #6f6f6f;
  --color-input-background: #ffffff;
  --color-labels: #e1e1e1;
  --color-button-label: #ffffff;
  --color-button-background: #407d8c;
  --color-button-background-hover: #44a1b8;
}

/* Some sensible defaults and layouts */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: black;
  background-image: url('https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1674&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;

  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  color: white;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Layout */

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
  /* padding: 4rem; */
}

/* HEADINGS */

.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
.subtitle {
  text-align: center;
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 20px;
}

/* FORMS */

.form {
  background-color: rgba(33, 58, 63, 0.83);
  border: 3px solid var(--color-accent);
  padding: 15px;
  border-radius: 30px 0 30px 0;
}
.form > * + * {
  margin-top: 30px;
}
.name-group > * + * {
  margin-top: 30px;
}
.form-group__label {
  font-weight: var(--font-weight-bold);
  color: var(--color-labels);
  margin: 10px 0;
}
.form-group__input {
  background-color: var(--color-input-background);
  outline: none;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 0.55rem;
}
.form-group__input:focus {
  outline: 2px solid var(--color-accent);
}
.radio,
.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}
.radio__input,
.checkbox__input {
  position: absolute;
  opacity: 0;
  height: 18px;
  width: 18px;
  cursor: pointer;
}
.radio__label,
.checkbox__label {
  display: block;
  margin-left: 28px;
  padding: 7px 0;
}
.radio__label::before,
.checkbox__label::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: var(--color-input-background);
  border-radius: 2px;
}
.radio__label::before {
  border-radius: 50%;
}
.radio__label::after,
.checkbox__label::after {
  position: absolute;
  top: 8px;
  left: 2px;
  content: '';
  display: none;
  height: 14px;
  width: 14px;
  background-color: var(--color-accent);
  border-radius: 2px;
}
.radio__label::after {
  border-radius: 50%;
}
.radio__input:checked ~ .radio__label::after,
.checkbox__input:checked ~ .checkbox__label::after {
  display: block;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
  .title {
    font-size: 3rem;
    margin-top: 110px;
  }
  .subtitle {
    font-size: 1.125rem;
  }
  .form {
    padding: 4.4rem 3.3rem;
    border-radius: 130px 0 130px 0;
  }
  .name-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .name-group > * + * {
    margin-top: 0;
  }
  .form-group.right,
  .form-group.left {
    width: 49%;
  }
}

/* BUTTONS */

.btn {
  background-color: var(--color-button-background);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--color-button-label);
  font-weight: var(--font-weight-bold);
  width: 100%;
  transition: 0.3s all ease-in;
}
.btn:hover {
  background-color: var(--color-button-background-hover);
}
